
      
      <div class="container">
      
        
      
        <p class="text-info">This Angular app is created by {{name}}</p>
      
        
        <hr>
      
      <br>
      
        <div class="row">
       
          
          <div class = "col-md-2">Filter By: </div>
          <div class = "col-md-6"><input [(ngModel)] ='searchText' type="text" class = "form-control"/> <br></div>
          </div>
      
          <div class="row">
      
            <div class="table-responsive">
      
              <table class="table table-striped" >
      
                <thead>
                   
                  <th>
      
                    Product Image
       
                   </th>
      
                  <th>
      
                   Title
      
                  </th>
      
                  <th>
      
                    Price
      
                  </th>
      
                  <th>
      
                    Color
      
                  </th>
      
                  <th>
      
                    InStock
      
                  </th>
      
                  <th>
      
                    Details
      
                  </th>
      
                  <th>
      
                    Quantity
      
                  </th>
                  
      
                </thead>
      
                <tbody>
      
                  <tr *ngFor="let p of products | productfilter : searchText"> 
                      <td>
                          <img [src] = "p.ImageUrl" [style.height.px]='imageWidth'
                          [style.margin.px]='imageMargin'>
          
                        </td>
      
                    <td>
      
                      <a (click)='DetailsProduct(p.ProductID)'>{{p.Title }}</a>
      
                    </td>
      
                    <td>
      
                      {{p.Price}}
      
                    </td>
      
                    <td>
      
                      {{p.Color }}
      
                    </td>
      
                    <td>
      
                      <span >

                        <i *ngIf='p.inStock' class="fa fa-check" style="font-size:20px;color:green"></i>

                        <i *ngIf='!p.inStock' class="fa fa-close" style="font-size:20px;color:red"></i>

                      </span>

      
                    </td>
      
                    <td>
      
                      {{p.Details}}
      
                    </td>
      
                    <td>
      
                      {{p.Quantity}}
      
                    </td>
      
                    <td>
      
                      <a (click)='editproduct(p.ProductID)' class="btn btn-primary a-btn-slide-text">
      
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      
                        <span><strong>Edit</strong></span>            
      
                    </a>
      
                    </td>
      
                    <td>
      
                      <a (click)='DeleteProd(p.ProductID)'class="btn btn-danger a-btn-slide-text">
      
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      
                         <span><strong>Delete</strong></span>            
      
                     </a>
      
                    </td>
      
                  </tr>
      
                </tbody>
      
              </table>
      
            </div>
      
          </div>
      
        </div>